* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: poppins, sans-serif;
}

body {
  background-color: #F5EDED; /* Fondo claro para el cuerpo */
  margin: 0;
  /* padding: 20px; */
}

#main {
  display: flex;
}

#container-history {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Fondo blanco */
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 24px;
  color: #3e435d; /* Color para "Bienvenido, Camilo" */
}

p {
  margin: 10px 0 0 0; /* Aumentar margen superior para más separación */
  font-size: 16px;
  color: #7d7a7a; /* Color para "Jueves, 26 septiembre 2024" */
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.notification-button {
  background-color: #d3dfea; /* Fondo gris claro */
  border: none; /* Sin borde */
  border-radius: 12px; /* Bordes redondeados */
  cursor: pointer;
  padding: 10px; /* Espaciado interno */
  width: 50px; /* Ancho ajustado */
  height: 50px; /* Altura ajustada */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  transition: background-color 0.3s; /* Para un efecto suave al pasar el mouse */
}

.notification-button:hover {
  background-color: #c0e0f7; /* Cambia el color al pasar el mouse */
}

.notification-button svg {
  width: 24px; /* Ajustar tamaño del icono */
  height: 24px; /* Ajustar tamaño del icono */
}

.profile-button {
  background-color: #6482ad; /* Fondo azul para el botón CC */
  color: white;
  border: none;
  border-radius: 50%; /* Hacer el botón circular */
  cursor: pointer;
  padding: 10px;
  width: 50px; /* Ancho fijo para asegurar forma circular */
  height: 50px; /* Altura fija para asegurar forma circular */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-inline {
  display: flex; /* Usar Flexbox */
  align-items: center; /* Alinear verticalmente al centro */
  gap: 10px; /* Espacio entre los elementos */
  margin-top: 2rem; /* Espacio superior */
  margin-left: 20px; /* Espacio izquierdo */
}

.input-group {
  position: relative; /* Posicionamiento relativo para el contenedor */
  margin-right: 10px; /* Espacio entre los grupos de entrada */
}

.input-group label {
  position: absolute; /* Posicionamiento absoluto */
  top: -10px; /* Ajusta la posición vertical */
  left: 10px; /* Ajusta la posición horizontal */
  background-color: white; /* Fondo blanco para el label */
  padding: 0 5px; /* Espaciado alrededor del texto */
  font-size: 14px; /* Tamaño del texto */
  color: #6482ad; /* Color del texto */
}

input[type="date"],
select {
  padding: 10px;
  border: 2px solid #ccc; /* Ancho del borde */
  border-radius: 12px; /* Bordes más circulares */
  width: 290px; /* Ajusta el ancho para que coincida con la imagen */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  font-size: 16px; /* Tamaño de fuente más grande */
  min-width: 150px; /* Ancho mínimo para los botones */
}

input[type="date"]:focus,
select:focus {
  border-color: #6482ad; /* Color del borde al enfocar */
  outline: none; /* Quitar el contorno por defecto */
}

.search-button {
  padding: 10px 15px;
  background-color: #6482ad; /* Color del botón Buscar */
  color: white;
  border: none;
  border-radius: 12px; /* Asegurarse de que tenga el mismo borde redondeado */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px; /* Ancho mínimo para que coincida con los otros botones */
}

.search-button:hover {
  background-color: #4d6e95; /* Cambia el color al pasar el mouse */
}

#pdfPreview {
  display: none; /* Oculto inicialmente */
  padding: 20px;
  margin-top: 20px;
  background-color: white; /* Fondo blanco para el contenido */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Ancho máximo para el contenido */
  margin-left: auto; /* Centrar horizontalmente */
  margin-right: auto; /* Centrar horizontalmente */
  position: relative; /* Posicionamiento relativo para el fondo */
}

#pdfPreview::before,
#pdfPreview::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50vw; /* Ancho de cada lado */
  background-color: black; /* Color oscuro para los costados */
  z-index: -1; /* Detrás del contenido */
}

#pdfPreview::before {
  left: 0; /* Lado izquierdo */
}

#pdfPreview::after {
  right: 0; /* Lado derecho */
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

#previewContent {
  margin-top: 10px;
  font-size: 16px; /* Ajusta el tamaño de fuente para el contenido */
}
